<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/users/update(id=${user.getId()})}" th:object="${user}">
    <label for="name">NAME: </label>
    <input type="text" th:field="*{name}" id="name">

    <br/>

    <label for="lastname">LASTNAME: </label>
    <input type="text" th:field="*{lastName}" id="lastname">

    <br/>

    <label for="age">AGE: </label>
    <input type="text" th:field="*{age}" id="age">

    <br/>

    <input type="submit" value="Update"/>
</form>
</body>
</html>